<mat-toolbar color="primary">
    <span>{{title}}</span>
</mat-toolbar>
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let num of [1,2,3]">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>MSFT</mat-card-title>
                    <mat-card-subtitle>Microsoft</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Price:</p>
                    <p>Volume:</p>
                    <p>MarketCap:</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>