<mat-toolbar color="primary">
    <span>{{title}}</span>
</mat-toolbar>
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let stock of stocks">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        {{stock.symbol}}
                    </mat-card-title>
                    <mat-card-subtitle>{{stock.name}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div style="text-align: right;">
                        <div>
                            <strong>${{stock.lastSalePrice}}</strong>&nbsp;<br>
                            MarketCap: {{stock.marketCap}}&nbsp;<br>
                            Change: {{stock.percentChange}}&nbsp;
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>