.content {
    padding: 10px;
}

.price-value {
    font-size: larger;
    font-weight: bolder;
}

.positive-value {
    color: green;
}

.negative-value {
    color: red;
}

.symbol-chip-list {
    width: 100%;
  }